.TitleScreen {
  padding: 1rem;
  align-self: stretch;
  background-color: #565;
  color: #bbb;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.8fr 4rem 4rem;
  gap: 1rem;
}

.TitleScreen .Button:last-of-type {
  grid-column-start: 1;
  grid-column-end: 3;
}