.Footer {
  padding: 1rem 0;
  align-self: stretch;
  background-color: #555;
  color: #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90%;
}

.Footer a {
  margin: 0 0.325rem;
  color: orange;
}