.Footer {
  align-self: stretch;
  background-color: #555;
  color: #bbb;
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer a {
  margin: 0 0.325rem;
  color: orange;
}