:root {
  --actual-height: 100vh;
  --main-width: 100vw;
  --header-height: 4rem;
  --footer-height: 2.5rem;
  --hamburger-bar-height: 0.5rem;
  --expanded-footer-height: 6rem;
  --hamburger-height: 4rem;
  --border-radius: 1rem;

  --header-color: #555;
  --footer-color: #555;

  --hamburger-bg-color: #222;
  --hamburger-open-bg-color: rgb(80, 8, 8);
  --hamburger-bar-color: #878787;

  --button-standard: rgb(145, 145, 145);
  --button-green: rgb(9, 88, 9);
  --button-orange: rgb(157, 126, 33);
}

*, * *, * * * {
  box-sizing: border-box;
}

body {
  background-color: rgb(22, 7, 23);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: var(--actual-height);
  min-height: var(--actual-height);
  max-height: var(--actual-height);
  overflow: hidden;
}

input, select {
  font-family: inherit;
  font-size: inherit;
  border-radius: calc(var(--border-radius) / 4);
  padding: 1rem !important;
}

h1, h2, h3, h4 {
  margin: 0;
}

@media screen and (min-width: 768px) {
  :root {
    --main-width: 60vw;
  }

  #root {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --main-width: 50vw;
  }

  #root {
    display: flex;
    justify-content: center;
  }
}
