:root {
  --actual-height: 100vh;
  --main-width: 100vw;
  --header-height: 4rem;
  --footer-height: 2.5rem;
  --hamburger-height: 3.75rem;
  --hamburger-bar-height: 0.5rem;
  --expanded-footer-height: 6rem;
  --border-radius: 1rem;
  --main-box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.583);

  --menu-color: darkred;
  --inner-shade-color: #00000066;

  --hamburger-bg-color: #222;
  --hamburger-open-bg-color: rgb(80, 8, 8);
  --hamburger-bar-color: #878787;

  --button-standard: rgb(145, 145, 145);
  --button-green: rgb(9, 88, 9);
  --button-orange: rgb(157, 126, 33);
  --button-red: rgb(97, 26, 26);
  
  --game-board-green: rgb(13, 71, 16);
  
  --card-gray: rgb(213, 213, 213);
  --card-dark-gray: rgb(185, 185, 185);
  --card-white: #e7e7e7;
  --card-red: rgb(211, 0, 0);
  --card-blue: rgb(0, 0, 192);
  --card-yellow: rgb(204, 204, 0);

  --game-board-height: calc(var(--actual-height) - var(--expanded-footer-height));
  --main-padding: 0.25rem;
  --menu-padding: 0.325rem;
  --section-height: calc((var(--game-board-height) / 6));
  --card-x-space: calc(var(--main-width) - (var(--section-height) * 1.5));
  --card-width: calc((var(--main-width) / 5) - (var(--main-padding) * 1.5));
  --card-height: calc(var(--section-height) - (var(--main-padding) * 1.5));
  --card-max-height: calc(var(--section-height) - (var(--main-padding) * 0.5));
  --card-max-width: calc(var(--card-max-height) * (10/16));
  /* --card-border-radius: calc(var(--card-width) * 0.15); */
  --card-border-radius: calc(var(--card-height) * 0.07);
  /* --card-padding: calc(var(--card-width) * 0.1); */
  --card-padding: calc(var(--card-height) * 0.05);
}

*, * *, * * * {
  box-sizing: border-box;
}

html {
  background-color: black;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: var(--actual-height);
  min-height: var(--actual-height);
  max-height: var(--actual-height);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-color: black;
}

input, select {
  font-family: inherit;
  font-size: inherit;
  border-radius: calc(var(--border-radius) / 4);
  width: 14rem;
}

h1, h2, h3, h4 {
  margin: 0;
}

.arrow-up {
  position: relative;
  width: 0; 
  height: 0; 
  border-left: var(--arrow-outer-size) solid transparent;
  border-right: var(--arrow-outer-size) solid transparent;
  border-bottom: var(--arrow-outer-size) solid #00000055;
}

.arrow-up::after {
    position: absolute;
    content: '';
    top: calc(var(--arrow-inner-size) / 3.5);
    right: calc(var(--arrow-inner-size) * -1);
    width: 0; 
    height: 0; 
    border-left: var(--arrow-inner-size) solid transparent;
    border-right: var(--arrow-inner-size) solid transparent;
    border-bottom: var(--arrow-inner-size) solid var(--card-white);
  }

.arrow-down {
  position: relative;
  width: 0; 
  height: 0; 
  border-left: var(--arrow-outer-size) solid transparent;
  border-right: var(--arrow-outer-size) solid transparent;
  border-top: var(--arrow-outer-size) solid #00000055;
}

.arrow-down::after {
    position: absolute;
    content: '';
    bottom: calc(var(--arrow-inner-size) / 3.5);
    right: calc(var(--arrow-inner-size) * -1);
    width: 0; 
    height: 0; 
    border-left: var(--arrow-inner-size) solid transparent;
    border-right: var(--arrow-inner-size) solid transparent;
    border-top: var(--arrow-inner-size) solid var(--card-white);
  } 

#starfield {
  position: fixed;
  translate: -50% -50%;
  top: 50%;
  left: 50%;
  height: 100vw;
  height: var(--actual-height);
  width: auto;
  background-position: center;
}

.menu-style {
  box-sizing: border-box;
  background-color: var(--menu-color);
  border: solid #00000044;
  border-radius: var(--border-radius);
}

.menu-style::before {
  content: '';
  position: absolute;
  top: calc(var(--menu-padding) / 2);
  left: calc(var(--menu-padding) / 2);
  background-color: var(--inner-shade-color);
  width: calc(100% - var(--menu-padding));
  height: calc(100% - var(--menu-padding));
  border-radius: calc(var(--border-radius) / 1.5);
  z-index: -1;
}

@media screen and (max-width: 540px) {
  #starfield {
    /* height: var(--actual-height); */
    /* width: var(--main-width); */
    /* transform: none; */
  }
}


@media screen and (min-width: 540px) {
  :root {
    --main-width: 80vw;
    --card-border-radius: calc(var(--card-height) * 0.1);
    --card-padding: calc(var(--card-height) * 0.075);
  }

  #root {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 640px) {
  :root {
    --main-width: 60vw;
    --card-border-radius: calc(var(--card-height) * 0.1);
    --card-padding: calc(var(--card-height) * 0.075);
  }

  #starfield {
    transform: rotate(90);
  }

  #root {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --main-width: 50vw;
    --card-border-radius: calc(var(--card-height) * 0.1);
    --card-padding: calc(var(--card-height) * 0.075);
  }

  #root {
    display: flex;
    justify-content: center;
  }
}

@keyframes bouncing {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(var(--bounce-amount));
  }
}
