@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
  --actual-height: 100vh;
  --main-width: 100vw;
  --header-height: 4rem;
  --footer-height: 2.5rem;
  --hamburger-height: 3.75rem;
  --hamburger-bar-height: 0.5rem;
  --hamburger-menu-width: calc(var(--main-width) * 0.7);
  --expanded-footer-height: 6rem;
  --main-box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.583);
  --main-font: 'Nova Flat';
  --regular-font: 'Open Sans';
  --block-font: 'Bungee';
  
  --menu-color: #8b0000;
  --menu-border-color: #61e5cb66;
  --menu-border-width: 0.25rem;
  --secondary-color: #184738;
  --border-radius: 1rem;
  --portrait-border-radius: 50%;

  --df: rgb(139, 71, 48);

  --hamburger-bg-color: #222;
  --hamburger-open-bg-color: rgb(80, 8, 8);
  --hamburger-bar-color: #878787;

  --button-standard: rgb(121, 145, 153);
  --button-green: rgb(9, 88, 9);
  --button-orange: rgb(157, 126, 33);
  --button-red: rgb(97, 26, 26);
  
  --game-board-green: rgb(13, 71, 16);
  
  --card-gray: rgb(213, 213, 213);
  --card-dark-gray: rgb(185, 185, 185);
  --card-white: #e7e7e7;
  --card-red: rgb(211, 0, 0);
  --card-blue: rgb(0, 0, 192);
  --card-yellow: rgb(204, 204, 0);

  --move-green: #00ff0066;
  --move-yellow: #9d7e2166;
  --move-red: #d3000066;

  --game-board-height: calc(var(--actual-height) - var(--expanded-footer-height));
  --main-padding: 0.25rem;
  --menu-padding: 0.325rem;
  --section-height: calc((var(--game-board-height) / 6));
  --card-x-space: calc(var(--main-width) - (var(--section-height) * 1.5));
  --card-width: calc((var(--main-width) / 5) - (var(--main-padding) * 1.5));
  --card-height: calc(var(--section-height) - (var(--main-padding) * 1.5));
  --card-max-height: calc(var(--section-height) - (var(--main-padding) * 0.5));
  --card-max-width: calc(var(--card-max-height) * (10/16));
  --card-border-radius: calc(var(--card-height) * 0.07);
  --card-padding: calc(var(--card-height) * 0.05);
}

*, * *, * * * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  background-color: black;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--regular-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: var(--actual-height);
  min-height: var(--actual-height);
  max-height: var(--actual-height);
  overflow: hidden;
  background-color: black;
}

header, footer {
  font-family: var(--main-font);
}

.shadowed-text {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.shadowed-box {
  box-shadow: 0px 0px 3px 0px #111;
}

video {
  opacity: 0;
  transition: opacity 1000ms ease;

}

video.showing {
  opacity: 1;
}

input, select {
  font-family: inherit;
  font-size: inherit;
  border-radius: calc(var(--border-radius) / 4);
  width: 14rem;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-family: var(--block-font);
  text-shadow: -0.1rem 0px 0 #000, 0px -0.1rem 0 #000, -0px 0.1rem 0 #000, 0px 0.1rem 0 #000;
}

.arrow-up {
  position: relative;
  width: 0; 
  height: 0; 
  border-left: var(--arrow-outer-size) solid transparent;
  border-right: var(--arrow-outer-size) solid transparent;
  border-bottom: var(--arrow-outer-size) solid #00000055;
}

.arrow-up::after {
  position: absolute;
  content: '';
  top: calc(var(--arrow-inner-size) / 3.5);
  right: calc(var(--arrow-inner-size) * -1);
  width: 0; 
  height: 0; 
  border-left: var(--arrow-inner-size) solid transparent;
  border-right: var(--arrow-inner-size) solid transparent;
  border-bottom: var(--arrow-inner-size) solid var(--card-white);
}

.arrow-down {
  position: relative;
  width: 0; 
  height: 0; 
  border-left: var(--arrow-outer-size) solid transparent;
  border-right: var(--arrow-outer-size) solid transparent;
  border-top: var(--arrow-outer-size) solid #00000055;
}

.arrow-down::after {
  position: absolute;
  content: '';
  bottom: calc(var(--arrow-inner-size) / 3.5);
  right: calc(var(--arrow-inner-size) * -1);
  width: 0; 
  height: 0; 
  border-left: var(--arrow-inner-size) solid transparent;
  border-right: var(--arrow-inner-size) solid transparent;
  border-top: var(--arrow-inner-size) solid var(--card-white);
} 

#starfield {
  position: fixed;
  translate: -50% -50%;
  top: 50%;
  left: 50%;
  height: 100vw;
  height: var(--actual-height);
  width: auto;
  background-position: center;
}

.menu-style {
  box-sizing: border-box;
  background-color: var(--menu-color);
  /* border: solid #00000044; */
  border: var(--menu-border-width) solid var(--menu-border-color) !important;
  border-radius: var(--border-radius);
  box-shadow: var(--main-box-shadow);
  text-shadow: -1px 0px 0 #000, 0px -1px 0 #000, -0px 1px 0 #000, 0px 1px 0 #000;
}

.menu-style * {
  /* text-shadow: -1px 0px 0 #000, 0px -1px 0 #000, -0px 1px 0 #000, 0px 1px 0 #000; */

}

button {
  text-shadow: -1px -1px 0 #00000099, 1px -1px 0 #00000099, -1px 1px 0 #00000099, 1px 1px 0 #00000099;
  font-family: 'Nova Flat' !important;
  padding: 1rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: max-content;
}

@media screen and (max-width: 540px) {
  #starfield {
    height: var(--actual-height);
    width: auto;
  }
}

@media screen and (min-width: 540px) {
  :root {
    --main-width: 24rem;
    --expanded-footer-height: calc(var(--actual-height) / 8);
      --header-height: 2.5rem;
      --footer-height: 1.75rem;
    --hamburger-height: calc(var(--expanded-footer-height) / 1.35);
  }

  #root {
    display: flex;
    justify-content: center;
  }
}

@media screen and (orientation: landscape) {
   #starfield {
    width: var(--actual-height);
    height: unset;
    
    transform: rotate(90deg);
  }
}

@keyframes bouncing {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(var(--bounce-amount));
  }
}
